
.card-vide-header {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;

  video {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height: 208px;
    object-fit:cover;
  }
}

.logo-img {
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.card-loja {
  background: #f7f7f7;

  .md-card-content {

    .md-card-media {
      img {
        max-height: 160px;
        width: auto;
      }
      cursor: pointer;
    }
  }

  .image {
    .md-button {
      $s: 32px;
      min-width: $s !important;
      max-width: $s !important;
      padding: 0px !important;
      line-height: 0px !important;
    }
  }

  .md-checkbox {
    label {
      position: relative;
      top: -0.1rem;
    }
  }
}

.add-item {
  position: fixed;
  z-index: 3;
  right: 8px;
  bottom: 8px;
  $s: 5rem;
  width: $s;
  height: $s;
  border-radius: 50%;
  border: 1px solid #561;
  .md-button-content {
    font-size: 2rem;
    font-weight: 800;
  }
}

.loading {
  position: fixed;
  z-index: 4;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-mural {
  .ck-file-dialog-button,
  div.ck.ck-sticky-panel__content > div > div:nth-child(11)
   {
    display: none;
  }
}

.sub-card {
  md-card-footer {
    > div {
      padding-right: 16px;
    }
  }
}





// @bitetti
$colors: (
  headerBG: #f7f7f7,
  headerIcons: #555,
  headerBGHighlight: #e6e6e6,
  headerIconsHighlight: #555,
  headerTextHighlight: #922,
  topMenuBG: #444,
  paragraph: #f7f7f7,
  configColor: #999,
);

$logoWidth: 150px;
$userMenuHeight: 1.5rem;
$sideBarHeight: 82px;


.user-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $userMenuHeight;
}

.topmenu {
  background: map-get($colors,topMenuBG);
  position: fixed;
  z-index: 3;
  left: 0px;
  right: 0px;
  top: 0px;
  height: $userMenuHeight;

  time {
    color: map-get($colors,paragraph);
    position: absolute;
    left: 1rem;
    top: 0;
  }

  .user-menu {
    display: flex;
    position: absolute;
    left: 72px;
    right: 72px;
    height: 100%;
    justify-content: center;
    align-items: center;

    .md-button {
      min-height: 0;
      max-height: $userMenuHeight;
      width: 160px;
      padding: 0;
      background: transparent !important;
      .md-ripple {
        padding: 0 !important;
        height: $userMenuHeight !important;
        width: 100%;
      }
      .md-button-content {
        svg {
          margin-left: 12px;
        }
      }
    }
  }

  .config {
    position: absolute;
    right: 1rem;
    top: 0;
    margin: 0;
    padding: 0;
    background: transparent !important;
    box-shadow: none;
    height: 100%;
    min-width: 12px;
    max-width: 52px;

    .md-ripple {
      padding: 0 !important;
    }

    svg {
      color: map-get($colors,configColor);
    }
  }
}


.sidebar {
  z-index: 2;
  top: $userMenuHeight;
  background: map-get($colors,headerBG);

  &:after {
    display: none;
  }

  p {
    text-transform: uppercase;
  }

  @media (min-width: 992px) {
    bottom: $sideBarHeight;
    height: $sideBarHeight;
    width: 100vw;

    .logo {
      padding: 0;
    }

    .sidebar-wrapper {
      width: calc(100vw - #{$logoWidth});
    }

    .md-list {
      flex-flow: row nowrap;
      margin-top: 0px;
      min-width: 100%;
      align-items: center;
      justify-content: space-around;
      height: $sideBarHeight;

      li {
        float: left;
        height: 100%;

        a {
          box-shadow: none !important;
          height: 100%;
          margin: 0;
          min-width: 80px;
        }

        .md-list-item-content {
          flex-flow: column wrap;
          .md-icon,svg {
            display: block;
            margin: 0px !important;
            font-size: 250% !important;
          }
          p,.md-icon,svg {
            color: map-get($colors,headerIcons) !important;
          }
        }

        .active {
          >div {
            border-radius: 0;
            background: map-get($colors,headerBGHighlight) !important;
            .md-icon {
              color: map-get($colors,headerIconsHighlight) !important;
            }
            p {
              color: map-get($colors,headerTextHighlight) !important;
            }
          }
        }
      }
    }
  }
}

.md-toolbar-row {
  display: none;
}

.main-panel {
  @media (min-width: 992px) {
    background: red;
    position: absolute;
    top: calc(#{$sideBarHeight} + #{$userMenuHeight});
    width: 100%;
  }
}
